{% extends "base-vue.html" %} 
{% block html_tag_attributes %}lang="en"{%endblock%} 
{% block content %}
<noscript>
  <strong>Please enable JavaScript to continue.</strong>
</noscript>

<div class="container_header">
  <div class="container_title_principal"><h1>Bienvenido a Neptuno</h1></div>
</div>

<div class="container_body" id="body">
  <div class="container_bot">
    <div class="loader">
      <span class="stroke"></span>
      <span class="stroke"></span>
      <span class="stroke"></span>
      <span class="stroke"></span>
      <span class="stroke"></span>
      <span class="stroke"></span>
      <span class="stroke"></span>
    </div>
  </div>

  <div class="container_title" id="title">
    <div class="container-text">
      <h1>¿Qué es Neptuno?</h1>
      <br />
      <h2>Neptuno es una herramienta desarrollada para ayudar</h2>
      <h2>
        a las personas con poca movilidad, brindándoles un asistente virtual
      </h2>
      <h2>
        que se encargará de gestionar el control parcial de tu computadora.
      </h2>
    </div>
    <img
      src="https://cdn-icons-png.flaticon.com/512/4072/4072587.png"
      alt="img question"
    />
  </div>

  <div class="container_title2">
    <img
      src="https://cdn-icons-png.flaticon.com/512/771/771298.png"
      alt="img pc"
    />

    <div class="container-text2">
      <h1>¿Qué necesito para inciar?</h1>
      <br />
      <h2>Debes contar con una conexión a internet estable para poder usar</h2>
      <h2>
        todas las funcionalidades de la herramienta, una cámara web y un
        micrófono.
      </h2>
    </div>
  </div>
  <div class="container_transfer" style="margin: 100px">
    <div class="objeto_tocado_label">Transfiriendo a:</div>

    <div class="objeto_tocado">seleccione un objetivo</div>
<!--     <div class="objeto_tocado_counter">3</div>
 -->   
  </div>

  

  <div class="container_title2" style="margin: 100px">
    <img
      src="https://cdn-icons-png.flaticon.com/128/888/888846.png"
      alt="google"
      id="google"
      onmouseout="test(this)"
      onmouseover="validate_elemente_where_am_i(this)"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/512/187/187210.png"
      alt="img pc"
      id="youtube"
      onmouseout="test(this)"
      onmouseover="validate_elemente_where_am_i(this)"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png"
      alt="facebook"
      id="facebook"
      onmouseout="test(this)"
      onmouseover="validate_elemente_where_am_i(this)"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/512/716/716784.png"
      alt="files_img"
      id="files"
      onmouseout="test(this)"
      onmouseover="validate_elemente_where_am_i(this)"
    />
  </div>
</div>
<script src="../staticfiles/prueba.js"></script>

<style scoped>
  html {
    scroll-behavior: smooth;
  }
  @import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Roboto:wght@100&display=swap");
  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }

  .container_header {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
  }
  .container_header .container_title_principal {
    font-family: "Gentium Book Basic", serif;
    font-family: "Roboto", sans-serif;
  }

  .btn {
    padding: 0.3vw;
    margin-top: 30px;
  }

  .container_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Gentium Book Basic", serif;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(0, 99, 185);
  }
  .container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
  }

  .container_title h2 {
    font-size: 2vw;
  }
  .container_title h1 {
    font-weight: bold;
    font-size: 2.5vw;
  }

  .container_title2 h2 {
    font-size: 2vw;
  }
  .container_title2 h1 {
    font-weight: bold;
    font-size: 2.5vw;
  }

  .container-text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
  }

  .container_transfer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    width: 80%;
    max-width: 50%;
    color: white;
    padding: 4vw;
    justify-content: center;
    background-color: rgb(18, 89, 151);
    border-radius: 10px;
    font-weight: bold;
    font-size: 2.5vw;
  }

  .container_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    width: 80%;
    max-width: 100%;
    color: white;
    padding: 4vw;
    justify-content: space-between;
    background-color: rgb(18, 89, 151);
    border-radius: 10px;
  }

  .container_title img {
    width: 10vw;
    height: 10vw;
  }

  .container_title2 img {
    width: 10vw;
    height: 10vw;
  }
  .container_title2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 5vh;
    width: 80vw;
    max-width: 100%;
    color: white;
    padding: 4vw;
    justify-content: space-between;
    background-color: rgb(18, 89, 151);
    border-radius: 10px;
  }

  .container-card {
    display: flex;
    width: 80vw;
    height: 5vw;
    margin-top: 5vh;
    background-color: rgb(18, 89, 151);
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 4vw;
    margin-bottom: 20vw;
  }

  .container-card img {
    width: 5vw;
  }

  .container_bot {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #667db6; /* fallback for old browsers */
    width: 30vw;
    height: 20vw;
    -webkit-box-shadow: 11px 11px 37px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 11px 37px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 11px 37px -20px rgba(0, 0, 0, 0.75);
    border-radius: 1.5vw;
  }

  .loader {
    display: flex;
    align-items: center;
  }
  .loader .stroke {
    display: block;
    background: #f1f1f1;
    height: 1vw;
    width: 1vw;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.2s linear infinite;
  }
  @keyframes animate {
    50% {
      height: 10vw;
    }
  }
  .stroke:nth-child(1) {
    animation-delay: 0s;
  }
  .stroke:nth-child(2) {
    animation-delay: 0.3s;
  }
  .stroke:nth-child(3) {
    animation-delay: 0.6s;
  }
  .stroke:nth-child(4) {
    animation-delay: 0.9s;
  }
  .stroke:nth-child(5) {
    animation-delay: 0.6s;
  }
  .stroke:nth-child(6) {
    animation-delay: 0.3s;
  }
  .stroke:nth-child(7) {
    animation-delay: 0s;
  }
</style>
{% endblock %}
